h1 {
  margin: 0;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
form {
  border: 1px aqua;
}
.row {
  font-size: 16px;
  font-weight: 300;
}
.today {
  border: 1px;
  border-radius: 10px;
  padding: 5px;
  max-width: 40%;
  background: #e3edf9;
  margin: 0px 10px 10px 0px;
  font-size: 16px;
  font-weight: 300;
}
.today p {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
}

.cloud {
  font-size: 30px;
  color: #5e87b8;
}
.sun {
  font-size: 30px;
  color: #ffe168;
}
.rain {
  font-size: 30px;
  color: #5e87b8;
}
.showers {
  font-size: 30px;
  color: #5e87b8;
}

.temperature {
  font-size: 40px;
  font-weight: 600;
  max-width: 70%;
}

.units {
  font-size: 20px;
  font-weight: 300;

  position: relative;
  top: -25px;
  padding: 0 auto;
}
.week {
  font-size: 16px;
  font-weight: 500;
}
.weather-app {
  border: 1px solid #5e87b8;
  border-radius: 10px;
  max-width: 600px;
  padding: 20px;
}
.container {
  margin-top: 20px;
}
.active {
  color: #212529;
  cursor: default;
  text-decoration: none;
}

.fahrenheit {
  text-decoration: none;
}
